radio/modem.img filter=lfs diff=lfs merge=lfs -text
proprietary/vendor/lib64/libarcsoft_t_hdr_raw_front.so filter=lfs diff=lfs merge=lfs -text
proprietary/vendor/lib64/libarcsoft_superportrait.so filter=lfs diff=lfs merge=lfs -text
proprietary/vendor/lib64/libmorpho_RawDeepDenoise.so filter=lfs diff=lfs merge=lfs -text
proprietary/vendor/lib64/libarcsoft_super_night_raw.so filter=lfs diff=lfs merge=lfs -text
proprietary/vendor/lib64/libarcsoft_turbo_fusion_raw_super_night.so filter=lfs diff=lfs merge=lfs -text
radio/dsp.img filter=lfs diff=lfs merge=lfs -text
